<div id="search">
	<%= form_tag("/", method: "get") do %>
		<div class="search-item">
			<h2><%= label_tag(:user_id, "Enter a Flickr username or ID:") %></h2>
		</div>
		<div class="search-item">
			<%= text_field_tag :user_id, nil, class: 'form-field' %>
		</div>
		<div class="search-item">
			<%= submit_tag("Show photos", class: 'submit-btn') %>
		</div>
	<% end %>
</div>

<div id="photos">
	<% if !@user_id.blank? %>
		<%= get_photos %>
	<% else %>
		<h2>No photos to display. Please enter a Flickr username above.</h2>
	<% end %>
</div>
